.marg{
    margin-left:50px;
}

h1 {
    color: rgb(27, 33, 81);
    /* margin-top: 50%; */
}

img {
    width: 100%;
    margin-left: 10%; 
}

.not{
    margin-left: 30%;
    width: 600px;
    height: 600px;
}
@media (max-width:750px) {
       .not{
        margin-left: 50px;
        width: 300px;
        height: 300px;
       }

}